{% extends "base.html" %}
{% load static %}

{% block title %}スケジュール作成 - Kajisuke{% endblock %}
{% block description %}Kajisukeのスケジュール作成ページ{% endblock %}
{% block extra_css %}
<link href="{% static 'css/schedules/create.css' %}" rel="stylesheet">
{% endblock %}

{% block header_title %}{% endblock %}  <!-- ここで空にする -->

{% block content %}
    <h2>スケジュール登録</h2>
    
    <form action="/schedule" method="post" name="schedule-form">
        
        <!-- 開始日 -->
        <div class="form-group-date">
            <label for="start-date">開始日</label>
            <input type="date" id="start-date" name="start-date">
        </div>

        <!-- カテゴリー -->
        <div class="form-group">
            <select id="category" name="category">
                <option value="" hidden>カテゴリー</option>
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
        </div>

        <!-- 家事 -->
        <div class="form-group">
            <select id="task" name="task">
                <option value="" hidden>家事</option>
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
        </div> 

        <!-- メモ欄 -->
        <div>
            <textarea class="memo" rows="2" cols"" rows="2" name="memo" placeholder="メモ欄"></textarea>
        </div>

    <!-- 繰り返し設定 -->
    <div id="repeat-form">
        <label>繰り返し設定</label>
            <div class="repeat-options">
                <input type="radio" name="repeat" value="なし" id="none" checked>
                    <label for="none">なし</label>
                <input type="radio" name="repeat" value="everyday" id="everyday">
                    <label for="everyday">毎日</label>
                <input type="radio" name="repeat" value="day_of_week" id="day_of_week">
                    <label for="day_of_week">毎週</label>
                <input type="radio" name="repeat" value="nth_weekday" id="nth_weekday">
                    <label for="nth_weekday">毎月</label>
                <input type="radio" name="repeat" value="day_of_month" id="day_of_month">
                    <label for="day_of_month">毎年</label>
            </div>
    </div>
</form>

<!-- 送信ボタン 押すと月表示へ -->
    <button type="button" class="submit1" onclick="location.href='{% url 'mock_calender_month' %}'">スケジュールを登録する</button>
{% endblock %}
