{% extends 'schedules/mordal_base.html' %} 
{% load static %}

{% block title %}1日スケジュール編集 - Kajisuke{% endblock %}
{% block description %}Kajisukeのスケジュール編集ページ{% endblock %}
{% block extra_css %}
<link href="{% static 'css/schedules/edit_oneday.css' %}" rel="stylesheet">

<script src="/static/js/oneday_edit.js" defer></script>
{% endblock %}

{% block header_title %}{% endblock %}  <!-- ここで空にする -->

{% block content %}

<a href="javascript:history.back()" class="batsu"></a>

<h2>この日のみの変更</h2>

<form method="post" id="exception-form">
    {% csrf_token %}

    <div class="form-group-date">
        <label>予定日</label>
        <input type="text" value="{{ form.initial.original_date }}" readonly class="background-color">
    </div>

    <div class="form-group-date">
        <label>変更日</label>
        <input type="date" name="modified_date" id="id_modified_date">
    </div>

    <div class="form-group">
        
        <input type="text" value="{{ schedule.task.task_category.task_category_name }}" readonly class="background-color">
    </div>

    <div class="form-group">
        
        <input type="text" value="{{ schedule.task.task_name }}" readonly class="background-color">
    </div>

    <div class="form-group">
        
        <textarea  readonly class="background-color memo">{{ schedule.memo }}</textarea>
    </div>



    <button type="button" class="submit1" id="change-only-btn">この日のみ変更する</button>


    <button type="button" class="submit2" id="delete-only-btn">この日のみ削除する</button>

    <!-- モーダル -->
    <div id="confirmation-modal" class="modal hidden">
        <div class="modal-content">
            <p id="modal-message"></p>
            <button id="modal-confirm" class="submit1">実行</button>
            <button type="button" id="modal-cancel" class="submit2">キャンセル</button>
        </div>
    </div>

    <button type="button" class="submit2" onclick="window.location.href='{% url 'apps:schedule_edit' schedule.id  %}'">
        繰り返し設定を変更する
    </button>


</form>
{% if is_modified %}
<div id="modified-modal" class="modal">
    <div class="modal-content">
        <p>この日の予定はすでに変更・削除されています。</p>
        <button id="modified-ok-btn" class="submit1">OK</button>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.getElementById("modified-modal").classList.remove("hidden");
        // OKボタンでカレンダーにリダイレクト
        document.getElementById("modified-ok-btn").addEventListener("click", () => {
            window.location.href = "{% url 'apps:calendar_redirect' %}";
        });
    });
</script>

{% endif %}

{% endblock %}