{% extends "base.html" %}
{% load static %}

{% block title %}スケジュール作成 - Kajisuke{% endblock %}
{% block description %}Kajisukeのスケジュール変更・削除{% endblock %}
{% block extra_css %}
<link href="{% static 'css/schedules/edit_schedules.css' %}" rel="stylesheet">
{% endblock %}

{% block header_title %}{% endblock %}  <!-- ここで空にする -->

{% block content %}

        <span class="batsu"></span>

    <h2>スケジュール設定変更</h2>
    
    <form action="/schedule" method="post" name="edit-schedules-form">
        
        <!-- 開始日 -->
        <div class="form-group-date">
            <label for="start-date">開始日</label>
            <input type="date" id="start-date" name="start-date" value="{{ schedule.start_date|default:'' }}">
        </div>

        <!-- カテゴリー -->
        <div class="form-group">
            <select id="category" name="category" disabled>
                <option value="{{ schedule.category }}" selected>登録済カテゴリーを表示する{{ schedule.category }}</option>
            </select>
        </div>

        <!-- 家事 -->
        <div class="form-group">
            <select id="task" name="task" disabled>
                <option value="{{ schedule.category.task }}"selected>登録済家事を表示する{{ schedule.category.task }}</option>
            </select>
        </div> 

        <!-- メモ欄 -->
        <div>
            <textarea class="memo" rows="2" name="memo">{{ schedule.memo|default:'メモが未入力です' }}</textarea>
        </div>

        <!-- 繰り返し設定 -->
        <div id="repeat-form">
            <label>繰り返し設定</label>
                <div class="repeat-options">
                    <input type="radio" name="frequency" value="NONE" id="NONE" checked>
                        <label for="NONE">なし</label>
                    <input type="radio" name="frequency" value="DAILY" id="DAILY">
                        <label for="DAILY">毎日</label>
                    <input type="radio" name="frequency" value="WEEKLY" id="WEEKLY">
                        <label for="WEEKLY">毎週</label>
                    <input type="radio" name="frequency" value="MONTHLY" id="MONTHLY">
                        <label for="MONTHLY">毎月</label>
                    <input type="radio" name="frequency" value="YEARLY" id="YEARLY">
                        <label for="YEARLY">毎年</label>
                </div>

    <!-- スケジュール登録ボタン -->
    <button class="submit1">スケジュール設定を変更する</button>
    <button class="submit2">スケジュール設定を削除する</button>
</form>

{% endblock %}
