{% extends "base.html" %}
{% load static %}

{% block title %}スケジュール一覧 - Kajisuke{% endblock %}
{% block description %}Kajisukeのスケジュール一覧画面{% endblock %}

{% block extra_css %}
<link href="{% static 'css/list.css' %}" rel="stylesheet">
{% endblock %}

{% block header_title %}{% endblock %}  <!-- ここで空にする -->

{% block content %}
<nav>
    <div class="nav-left">
        <a href="{% url 'apps:calendar_redirect' %}">
            <img src="{% static 'images/icon-calendar.svg' %}" alt="calendar-icon">
        </a>
        <img class="disable" src="{% static 'images/icon-list.svg' %}" alt="list-icon">
    </div>
    <div class="nav-right">
        <a href="{% url 'apps:signout' %}">
            <img src="{% static 'images/icon-signout.svg' %}" alt="signout-icon">
        </a>   
    </div>
</nav>

<h2>スケジュール一覧</h2>

<div class="list-container">
    {% for item in schedules_list %}
    <div class="item category-{{ item.category_id }}">
        <div class="item-container">
            <div class="item-category">
                <div class="item-category-container">
                    <p>{{ item.category_name }}</p>
                    <img src="{% get_static_prefix %}images/category_icons/category_{{ item.category_id }}.png"  class="category-icon">
                </div>
            </div>
            <div class="item-task">
                <p class="item-task-name">{{ item.task_name }}</p>
                <p class="item-task-freq">{{ item.frequency_or_date }}</p>
                {% if item.memo %}
                <p class="item-task-memo">{{ item.memo }}</p>
                {% endif %}
            </div>
            <div class="item-edit">
                <a
                    href="{% url 'apps:schedule_edit' schedule_id=item.schedule_id %}">
                    <img src="{% static 'images/edit.svg' %}" alt="edit">
                </a>
            </div>
        </div>   
    </div>
    {% endfor %}
</div>

<!-- スケジュール追加プラスボタン --> 
<div>
    <img class="add-schedule" src="{% static 'images/icon-add.svg' %}" alt="add-schedule">
</div>

<!-- 家事すけロゴ --> 
<div>
    <img class="logo" src="{% static 'images/kajisuke.svg' %}" alt="Kaji suke">
</div>
{% endblock %}