



/* -------------------------------------------
  家事すけロゴ（ログインページ専用）
------------------------------------------- */
.logo {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  z-index: 10;
}