/* -------------------------------------------
  上部固定表示
------------------------------------------- */
.fixed-bar {
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    z-index: 10;
}

/* -------------------------------------------
  ナビゲーションアイコン
------------------------------------------- */
nav {
    width: 90%;
    display: flex;
    justify-content: space-between; /* 左右の要素を分ける */
    align-items: center; /* アイコンを中央揃え */
    /*max-width: calc(100% - 48px); /* カレンダー幅より24px内側 */
    margin: 0 auto;
    padding: 20px 0px;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 20px; /* 左側アイコンの間隔を調整 */
}

.nav-right {
    display: flex;
    align-items: center;
}

/* -------------------------------------------
  カレンダー上部　XXXX年　X月　令和X年
------------------------------------------- */
.calendar-nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px; /* 各要素の間隔を調整 */
    margin: 0 auto 10px auto;
    padding-bottom: 8px;
}

.calendar-nav-sub {
    font-size: 15px;
    font-weight: bold;
    color: var(--secondary-color);
}

.calendar-nav-center {
    font-size: 24px;
    font-weight: bold;
}

.prev, .next {
    width: 35px;
}

/* -------------------------------------------
  カレンダー部分
------------------------------------------- */
/* base.css調整 */
.container {
    width: 100% !important;
}

#calendar {
    max-width: 100%;
    margin-bottom: 50px;

}

/* -------------------------------------------
  Fullcalendar.jsのCSS調整
------------------------------------------- */
/* 曜日を中央揃え */
.fc-scrollgrid-sync-inner {
    text-align: center;
}

/* 日付セルの境界線（罫線） */
.fc td, .fc th {
    border-color: #cccccc;
}

/* prev, next ボタン */
.fc .fc-button {
    background-color: var(--secondary-color);  /* ボタン背景色 */
    color: var(--background-color);    /* 文字色 */
    border: none;
}

.fc .fc-button:hover {
    background-color: var(--secondary-color);  /* ホバー時の色 */
}

/* 今日の日付の背景色 */
.fc .fc-day-today {
    background-color: var(--secondary-color); 
}

/* 土曜日 */
.fc-day-sat .fc-daygrid-day-top,
.fc-day-sat .fc-scrollgrid-sync-inner .fc-col-header-cell-cushion,
.fc-day-sat .fc-list-day-cushion {
    color: blue;
}

/* 日曜日・祝日 */
.fc-day-sun .fc-daygrid-day-top,
.fc-day-sun .fc-scrollgrid-sync-inner .fc-col-header-cell-cushion,
.fc-day-sun .fc-list-day-cushion,
.fc-daygrid-day.holiday .fc-daygrid-day-number {
    color: red;
}

/* 前後の月の日付（非表示ではない） */
.fc-day-other .fc-daygrid-day-top,
.fc-day-other .fc-scrollgrid-sync-inner .fc-col-header-cell-cushion,
.fc-day-other .fc-list-day-cushion {
    color: gray;
}

.fc .fc-event {
    font-size: 10px;
    padding: 1px 2px;
    line-height: 1.1;
}

.fc-daygrid-event {
    margin-bottom: 1px;
}