/* -------------------------------------------
  上部固定表示
------------------------------------------- */
.fixed-bar {
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    z-index: 10;
}

/* -------------------------------------------
  ナビゲーションアイコン
------------------------------------------- */
nav {
    width: 90%;
    display: flex;
    justify-content: space-between; /* 左右の要素を分ける */
    align-items: center; /* アイコンを中央揃え */
    /*max-width: calc(100% - 48px); /* カレンダー幅より24px内側 */
    margin: 0 auto;
    padding: 20px 0px;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 20px; /* 左側アイコンの間隔を調整 */
}

.nav-right {
    display: flex;
    align-items: center;
}

/* -------------------------------------------
　　マイアカウント表示
------------------------------------------- */
h2 {
    font-size: 24px;
    font-weight: 900;
    color: var(--text-color);
    margin-top: 67px;
    margin-bottom: 40px;
    text-align: center;
}

/* -------------------------------------------
　　プロフイール
------------------------------------------- */
.profile-container {
    max-width: 420px;
    padding: 20px;
    display: block; /* ブロック要素として設定 */
    padding: 23px 0px 23px 30px;
    background-color:var(--secondary-color);
    text-align: left;
    border-radius: 4px;
}

p{
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    margin-top: 0px;
    margin-bottom: 10px;
    
}

.myacount{
    color: #000000;
    font-weight: 500;
}
