{% extends "base.html" %}
{% load static %}

{% block title %}ログイン - Kajisuke{% endblock %}
{% block description %}Kajisukeのログインページ{% endblock %}
{% block extra_css %}
<link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<form class="login-form" action="{% url 'apps:signin' %}" method="post" name="signin-form">
    {% csrf_token %}
    <!-- メールアドレス（実体は username フィールド） -->
    <div class="form-group">
        <label for="id_username">メールアドレス</label>
        {{ form.username }}
        {{ form.username.errors }}
    </div>
    <!-- パスワードフィールド -->
    <div class="form-group">
        <label ffor="id_password">パスワード</label>
        {{ form.password }}
        {{ form.password.errors }}
    </div>
    {% if form.non_field_errors %}
    <div class="form-errors">
        {{ form.non_field_errors }}
    </div>
    {% endif %}
    <div>
        <button type="submit" class="submit1">ログイン</button>
        <button type="button" class="submit2" onclick="location.href='{% url 'apps:signup' %}'">新規登録はこちら</button>
    </div>
</form>
<!-- 家事すけロゴ -->
<div>
    <img class="logo" src="{% static 'images/kajisuke.svg' %}" alt="Kaji suke">
</div>
{% endblock %}