{% extends "base.html" %}
{% load static %}

{% block title %}新規登録 - Kaji suke{% endblock %}
{% block description %}Kaji sukeの新規登録ページ{% endblock %}
{% block extra_css %}
<link href="{% static 'css/signup.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <form class="signup-form" method="post" name="signup-form" action="{% url 'apps:signup' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_user_name">ユーザー名</label>
            {{ form.user_name }}
            {{ form.user_name.errors }}
        </div>
        <div class="form-group">
            <label for="id_email">メールアドレス</label>
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        <div class="form-group">
            <label for="id_password1">パスワード</label>
            {{ form.password1 }}
            {{ form.password1.errors }}
        </div>
        <div class="form-group">
            <label for="id_password2">パスワード(確認用)</label>
            {{ form.password2 }}
            {{ form.password2.errors }}
        </div>
        {% if form.non_field_errors %}
        <div class="form-errors">
            {{ form.non_field_errors }}
        </div>
        {% endif %}
        {{ form.non_field_errors }}
            <button type="submit" class="submit1">新規登録</button>
            <button type="button" class="submit2" onclick="location.href='{% url 'apps:signin' %}'">ログインはこちら</button>
    </form>
        <!-- 家事すけロゴ --> 
        <div>
            <img class="logo" src="{% static 'images/kajisuke.svg' %}" alt="Kaji suke">
        </div> 
{% endblock %}
