{% extends "base.html" %}
{% load static %}

{% block title %}1日詳細 - Kajisuke{% endblock %}
{% block description %}Kajisukeのカレンダー画面{% endblock %}

{% block extra_css %}
<link href="{% static 'css/day.css' %}" rel="stylesheet">
{% endblock %}

{% block header_title %}{% endblock %} <!-- ここで空にする -->

{% block content %}
<div class="fixed-bar">
    <nav>
        <div class="nav-left">
            <a href="{% url 'apps:calendar_month'  year=current_date.year month=current_date.month %}">
                <img src="{% static 'images/icon-calendar.svg' %}" alt="calendar-icon">
            </a>
            <a href="{% url 'apps:schedules_list' %}">
                <img src="{% static 'images/icon-list.svg' %}" alt="list-icon">
            </a>
        </div>
        <div class="nav-right">
            <a href="{% url 'apps:signout' %}">
                <img src="{% static 'images/icon-signout.svg' %}" alt="signout-icon">
            </a>
        </div>
    </nav>

    <div class="calendar-nav">
        <a href="{% url 'apps:calendar_day' year=prev_date.year month=prev_date.month day=prev_date.day %}">
            <img class="prev" src="{% static 'images/icon-prev.svg' %}" alt="前の日">
        </a>
        <span class="calendar-nav-sub">{{ current_date|date:"Y" }}</span>
        <span class="calendar-nav-center">{{ current_date|date:"n月j日" }}</span>
        <span class="calendar-nav-sub">{{ current_date|date:"D曜日" }}</span>
        <a href="{% url 'apps:calendar_day' year=next_date.year month=next_date.month day=next_date.day %}">
            <img class="next" src="{% static 'images/icon-next.svg' %}" alt="次の日">
        </a>
    </div>
</div>

<div class="list-container">
    {% for item in schedules_list %}
    <div class="item category-{{ item.category_id }}">
        <div class="item-container">
            <div class="item-completed">
                {% if item.completed %}
                <img data-checked-id="{{ item.schedule_id }}" src="../../../static/images/checked.svg"
                    class="completed-check">
                {% else %}
                <img data-checked-id="{{ item.schedule_id }}" src="../../../static/images/unchecked.svg"
                    class="completed-check">
                {% endif %}
            </div>
            <div class="item-category">
                <div class="item-category-container">
                    <p>{{ item.category_name }}</p>
                    <img src="{% get_static_prefix %}images/category_icons/category_{{ item.category_id }}.png"
                        class="category-icon">
                </div>
            </div>
            <div class="item-task">
                <p class="item-task-name">{{ item.task_name }}</p>
                {% if item.memo %}
                <p class="item-task-memo">{{ item.memo }}</p>
                {% endif %}
            </div>
            <div class="item-edit">
                {% if is_editable %}
                <a
                    href="{% url 'apps:exceptional_schedule_create' schedule_id=item.schedule_id year=current_date.year month=current_date.month day=current_date.day %}">
                    <img src="{% static 'images/edit.svg' %}" alt="edit">
                </a>
                {% else %}
                <img class="item-edit-uneditable" src="{% static 'images/edit.svg' %}" alt="edit">
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- スケジュール追加プラスボタン -->
<div>
    <img class="add-schedule" src="{% static 'images/icon-add.svg' %}" alt="add-schedule">
</div>

<!-- 家事すけロゴ -->
<div>
    <img class="logo" src="{% static 'images/kajisuke.svg' %}" alt="Kaji suke">
</div>
{% endblock %}