{% extends "base.html" %}
{% load static %}

{% block title %}1日詳細 - Kajisuke{% endblock %}
{% block description %}Kajisukeのカレンダー画面{% endblock %}

{% block extra_css %}
<link href="{% static 'css/day.css' %}" rel="stylesheet">
{% endblock %}

{% block header_title %}{% endblock %}  <!-- ここで空にする -->

{% block content %}
<div class="calendar-nav">
    <a href="{% url 'apps:calendar_day' year=prev_date.year month=prev_date.month day=prev_date.day %}">＜前の日</a>
    <span>{{ current_date|date:"Y"  }}</span>
    <span>{{ current_date|date:"n月j日"  }}</span>
    <span>{{ current_date|date:"D曜日"  }}</span>
    <a href="{% url 'apps:calendar_day' year=next_date.year month=next_date.month day=next_date.day %}">次の日＞</a>
</div>

<div class="list-container">
    {% for item in schedules_list %}
    <div class="item category-{{ item.category_id }}">
        <div class="item-container">
            <div class="item-completed">
                <img src="{% static 'images/completed.svg' %}" class="completed-check">
            </div>
            <div class="item-category">
                <div class="item-category-container">
                    <p>{{ item.category_name }}</p>
                    <!-- イメージはまだうまく動かない -->
                    <!-- {% with 'images/category'|add:item.category_id|add:'.png' as image_path %} -->
                    <img src="{% static 'images/category_1.png' %}" class="category-icon">
                    <!-- {% endwith %} -->
                </div>
            </div>
            <div class="item-task">
                <p class="item-task-name">{{ item.task_name }}</p>
                {% if item.memo %}
                <p class="item-task-memo">{{ item.memo }}</p>
                {% endif %}
            </div>
            <div class="item-edit">
                <a href="">
                    <img src="{% static 'images/edit.svg' %}" alt="edit">
                </a>
            </div>
        </div>   
    </div>
    {% endfor %}
</div>

<!-- 家事すけロゴ --> 
<div>
    <img class="logo" src="{% static 'images/kajisuke.svg' %}" alt="Kaji suke">
</div>
{% endblock %}