{% extends "base.html" %}
{% load static %}

{% block title %}1日詳細 - Kajisuke{% endblock %}
{% block description %}Kajisukeのカレンダー画面{% endblock %}

{% block extra_css %}
<link href="{% static 'css/day.css' %}" rel="stylesheet">
{% endblock %}

{% block header_title %}{% endblock %}  <!-- ここで空にする -->

{% block content %}
<div class="calendar-nav">
    <a href="{% url 'apps:calendar_day' year=prev_date.year month=prev_date.month day=prev_date.day %}">＜前の日</a>
    <span>{{ current_date|date:"Y"  }}</span>
    <span>{{ current_date|date:"n月j日"  }}</span>
    <span>{{ current_date|date:"D曜日"  }}</span>
    <a href="{% url 'apps:calendar_day' year=next_date.year month=next_date.month day=next_date.day %}">次の日＞</a>
</div>

{% for item in schedules_list %}
<div >
    <div>チェック</div>
    <div>
        <p>{{ item.category_name }}</p>
        <!-- イメージはまだうまく動かない -->
        {% with 'images/category'|add:item.category_id|add:'.png' as image_path %}
        <img src="{% static image_path %}" class="category-icon">
        {% endwith %}
    </div>
    <div>
        <p>{{ item.task_name }}</p>
        <p>{{ item.memo }}</p>
    </div>
    <div>
        <a href="">
            <img src="{% static 'images/edit.svg' %}" alt="edit">
        </a>
    </div>
</div>
{% endfor %}



<!-- 家事すけロゴ --> 
<div>
    <img class="logo" src="{% static 'images/kajisuke.svg' %}" alt="Kaji suke">
</div>
{% endblock %}