{% extends "base.html" %}
{% load static %}

{% block title %}カレンダー - Kajisuke{% endblock %}
{% block description %}Kajisukeのカレンダー画面{% endblock %}

{% block header_title %}{% endblock %}  <!-- ここで空にする -->

{% block extra_css %}
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css" rel="stylesheet">
<link href="{% static 'css/month.css' %}" rel="stylesheet">
<script src="{% static 'js/fullcalendar/index.global.min.js' %}" defer></script>
<script src="{% static 'js/month.js' %}" defer></script>

<!-- month.js用にカレンダーの現在の年月、その月の祝日を定義 -->
<script defer>
    const current_year = "{{ current_year }}";
    const current_month = "{{ current_month }}";
    const holidays = {{ holidays|safe }};
</script>
{% endblock %}

{% block content %}
<nav>
    <div class="nav-left">
        <img class="logo" src="{% static 'images/icon-calendar.svg' %}" alt="calendar-icon">
        <img class="logo" src="{% static 'images/icon-list.svg' %}" alt="list-icon">
    </div>
    <div class="nav-right">   
        <img class="logo" src="{% static 'images/icon-signout.svg' %}" alt="signout-icon">
    </div>
</nav>
    
<div class="calendar-nav">
    <a href="{% url 'apps:calendar_month' year=prev_year month=prev_month %}">＜前の月</a>
    <span>{{ current_year }}年{{ current_month }}月</span>
    <a href="{% url 'apps:calendar_month' year=next_year month=next_month %}">次の月＞</a>
</div>
<div id="calendar"></div>

<!-- スケジュール追加プラスボタン --> 
<div>
    <img class="add-schedule" src="{% static 'images/icon-add.svg' %}" alt="add-schedule">
</div>
{% endblock %}