{% extends "base.html" %}
{% load static %}

{% block title %}カレンダー - Kajisuke{% endblock %}
{% block description %}Kajisukeのカレンダー画面{% endblock %}
{% block extra_css %}
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css" rel="stylesheet">
<link href="{% static 'css/month.css' %}" rel="stylesheet">
<script src="{% static 'js/fullcalendar/index.global.min.js' %}" defer></script>
<script src="{% static 'js/month.js' %}" defer></script>
{% endblock %}

{% block content %}
<div id="calendar"></div>
{% endblock %}